<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentEntityMapper">
	<resultMap id="BaseResultMap"
		type="com.example.demo.entity.StudentEntity">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="age" jdbcType="VARCHAR" property="age" />
		<result column="address" jdbcType="VARCHAR" property="address" />
	</resultMap>

	<insert id="insert">
		INSERT INTO t_student(id, name, age, address) VALUES(#{id}, #{name}, #{age},
		#{address})
	</insert>

	<insert id="insertList">
		INSERT INTO t_student(id, name, age, address)
		VALUES
		<foreach item="item" index="index" collection="studentEntities"
			separator=",">
			(#{item.id},#{item.name},#{item.age},#{item.address})
		</foreach>
	</insert>
</mapper>